[submodule "frontend"]
	path = frontend
  url = git@github.com:p4p4j0hn/face-recognition-brain.git
  # branch
  ignore = all
[submodule "backend"]
	path = backend
	url = git@github.com:p4p4j0hn/face-recognition-brain-api.git
  # branch
  ignore = all
